.QuoteApppp {
  text-align: center;
}

body {
  margin: 0 auto;
}

.body-img {
  width: 100vw;
  height: 100vh;
  position: fixed;
  filter: blur(3px);
  z-index: -1;
}

Form {
  color: white;
  padding: 2% 10%;
  width: 90vw;
  margin: 0 auto;
  background-image: url(https://fsb.zobj.net/crop.php?r=UEz9yEewxMkgmKWduJQ9o2ioLnrvJIUVFyD-l4KCGs9hO-s2sg8f3hdejeIbn0zELdtBzlSjxSUsTbSM6_MEJpTxqeIdW5Qx4X0NH_cmstUtsOL--Mw_emss7U81kAUQmo9NUBDsw6oqLHW6);
  background-position: center;
  background-size: cover;
  filter: saturate(150%);
}

.Accor {
  width: 100%;
}

.accor-card {
  padding: 1%;
}

.blockquote {
  padding-top: 30%;
  color: white;
  position: relative;
  bottom: 10%;
}

.blockquote-footer {
  color: wheat;
}

.card-img {
  background-position: center;
  background-size: cover;
  filter: blur(1px) contrast(60%) brightness(80%);
  max-height: 60vh;
}

.card-img:hover {
  filter: blur(0);
}

.quoteCard {
  width: 90vw;
  margin: 0 auto 7% auto;
}

@media screen and (min-width: 600px) {
  .quoteCard {
    width: 50%;
  }
  .card-img {
    max-height: 70vh;
  }
}

.footer {
  text-align: center;
}
